build==1.2.1
certifi==2024.2.2
charset-normalizer==2.0.12
debtcollector==3.0.0
dnspython==1.16.0
eventlet==0.31.1
greenlet==3.0.3
idna==3.7
importlib_metadata==7.1.0
mininet==2.3.0.dev6
msgpack==1.0.8
netaddr==1.2.1
networkx==3.2.1
oslo.config==9.4.0
oslo.i18n==6.3.0
ovs==3.3.0
packaging==20.9
pbr==6.0.0
pyparsing==3.1.2
pyproject_hooks==1.1.0
PyYAML==6.0.1
repoze.lru==0.7
requests==2.27.1
rfc3986==2.0.0
Routes==2.5.1
ryu @ git+https://github.com/Orion-zhen/ryu-xjtu.git
six==1.16.0
sortedcontainers==2.4.0
stevedore==5.2.0
tinyrpc==1.0.4
tomli==2.0.1
urllib3==1.26.18
WebOb==1.8.7
wrapt==1.16.0
zipp==3.18.2
